body{
    margin:0px;
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;;
}
.vertical-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text-center{
    text-align: center;
}
.container{
    overflow: hidden;
    display: flex;
}
.background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.white-font{
    color: white;
}
/* navbar for all pages */
nav{
    margin:0px;
    padding: 0px;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #151719;
    left: -250px;
    transition: all 500ms linear;
}
.toggle{
    left:0px;
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    font-size: 25px;
    color: white;
    padding: 15px 10px;
    border-bottom:1px solid rgba(100,100,100, 0.3);
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav .toggle-menu{
    position : absolute;
    left: 280px;
    top: 20px;
}

nav .toggle-menu span{
    display: block;
    width: 30px;
    height: 7px;
    background-color: white;
    margin: 5px 00px;;
}

